body {
  padding-top: 70px;
}
.navigation .breadcrumb {
  float: left;
  margin: 7px 10px;
}
.navbar-nav {
  margin-right: 15px;
}

.header  {
  margin-top: 10px;
}
.header {
  margin-bottom: 25px;
}

